---
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<MetaHead
			title={"Blog"}
			description={"All projects are available in this page."}
			ogImageUrl={"/assets/public/images/profile.png"}
		/>
	</head>

	<body>
		<Layout>
			<h1 style="line-height: 1.2;">Blog</h1>
			{
				allPosts.map((post) => (
					<ul class="grid gap-4 mb-4">
						<li>
							<a href={post.url}>
								<div class="text-white flex flex-col rounded-md border border-neutral-800 p-4 transition-all duration-150 ease-in hover:bg-neutral-800/40">
									<h2 class="text-xl font-medium">
										{post.frontmatter.title}
									</h2>
									<p class="my-2 text-white">
										{post.frontmatter.description}
									</p>
								</div>
							</a>
						</li>
					</ul>
				))
			}
		</Layout>
	</body>
</html>
