---
import { info } from "@data";
import { getCurrentLanguage, t } from "@utils/i18n";

import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";


const currentLang = getCurrentLanguage();
const Projects = info.projects.map((project) => project);
---

<!DOCTYPE html>
<html lang={currentLang}>
  <head>
    <MetaHead
      title={t('projects', currentLang)}
      description={t('metaDescription', currentLang)}
      ogImageUrl={"/assets/images/perfil.jpeg"}
    />
    <script src="/src/scripts/language-persistence.js"></script>
  </head>

  <body>
    <Layout>
      <h1 style="line-height: 1.2;">{t('projects', currentLang)}</h1>
      <ProjectsWrapper projects={Projects} />
    </Layout>
  </body>
</html>
