---
import { IHeroProps } from "@types";
import { info } from "@data";
import TranslatableText from "@components/general/TranslatableText.astro";

const { name } = Astro.props as IHeroProps;
---

<section>
	<div class="flex flex-col items-start gap-6 mt-[117px]">
		<img 
			src="/assets/images/perfil.jpeg" 
			alt="Francisco Freire - Profile Picture" 
			class="w-32 h-32 rounded-full object-cover border-4 border-gray-200 dark:border-gray-700 shadow-lg"
		/>
		<div>
			<TranslatableText 
				en="🎉 Available to work" 
				es="🎉 Disponible para trabajar"
				tag="span"
				class="inline-flex items-center px-3 py-1.5 rounded-lg text-sm justify-center bg-green-700 text-white"
			/>
			<TranslatableText 
				en="Hey, I'm" 
				es="Hola, soy"
				tag="p"
				class="dark:text-light mt-4"
			/>
			<h1>{name}</h1>
			<TranslatableText 
				en="+4 years of experience. Software Engineer from Uruguay. Specialized in cross-platform bots, web and mobile applications." 
				es="+4 años de experiencia. Ingeniero de Software de Uruguay. Especializado en bots multiplataforma, aplicaciones web y móviles."
				tag="p"
				class="dark:text-light text-lg mb-16 w-[70%]"
			/>
		</div>
	</div>

	<div class="grid grid-cols-5 gap-4 w-96">
		<a
			aria-label="Social Media"
			href={info.socialMedia.linkedin}
			target="_blank"
			class="footer-icons"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="18"
				height="18"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-linkedin"
				><path
					d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
				></path><rect x="2" y="9" width="4" height="12"></rect><circle
					cx="4"
					cy="4"
					r="2"></circle>
			</svg>
		</a>
		<a
			aria-label="Social Media"
			href={info.socialMedia.email}
			target="_blank"
			class="footer-icons"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="18"
				height="18"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-mail"
				><path
					d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
				></path><polyline points="22,6 12,13 2,6"></polyline>
			</svg>
		</a>
	</div>
</section>